<div *ngIf="jobSeeker" class="container py-5">
  <div class="card p-4">
    <div class="row align-items-center">
      <div class="col-md-3 text-center">
        <img [src]="'http://localhost:8085/images/jobSeeker/'+jobSeeker.photo" alt="Profile Image" height="150"
          width="150" class="profile-img mb-3">
        <h4 class="mb-0">{{ jobSeeker.name }}</h4>
        <p class="text-muted">{{ jobSeeker.gender }}</p>
      </div>
      <div class="col-md-9">
        <div class="row mb-2">
          <div class="col-md-6"><strong>Email:</strong> {{ jobSeeker.email }}</div>
          <div class="col-md-6"><strong>Phone:</strong> {{ jobSeeker.phone }}</div>
          <div class="col-md-6"><strong>Address:</strong> {{ jobSeeker.address }}</div>
          <div class="col-md-6"><strong>Date of Birth:</strong> </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card p-4 mt-4">
    <h5>Add New Education</h5>
    <form (ngSubmit)="addEducation()">
      <div class="row mb-2">
        <div class="col-md-6">
          <label>Level</label>
          <input type="text" [(ngModel)]="newEducation.level" name="level" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label>Institute</label>
          <input type="text" [(ngModel)]="newEducation.institute" name="institute" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label>Result</label>
          <input type="text" [(ngModel)]="newEducation.result" name="result" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label>Year</label>
          <input type="text" [(ngModel)]="newEducation.year" name="year" class="form-control" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add Education</button>
    </form>
  </div>

  <div *ngIf="educations.length > 0" class="card p-4 mt-4">
    <h5>Educations</h5>
    <div *ngFor="let edu of educations" class="border-bottom py-2">
      <div><strong>Level:</strong> {{ edu.level }}</div>
      <div><strong>Institute:</strong> {{ edu.institute }}</div>
      <div><strong>Board:</strong> {{ edu.board }}</div>
      <div><strong>Result:</strong> {{ edu.result }}</div>
      <div><strong>Year:</strong> {{ edu.year }}</div>
    </div>
  </div>


</div>

